<!-- <h1>Plantify</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="banner">
  <div class="container">
    <h1>Plantify</h1>
    <h2><span id="banner-typed-text"></span></h2>
    <p><%= link_to "Rent a Plant", plants_path, class: 'button_cont home-text' %></p>
  </div>
</div>

