.banner {
  background-size: cover;
  background-position: cover;
  padding: 150px 0;
  // background-color: #2d4d36;
  justify-content: space-between;
  background-image: url("https://images.unsplash.com/photo-1518335935020-cfd6580c1ab4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.banner h1 {
  color: white;
  // text-align: center;
}
