.card-plant {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex: 0 0 33.333333%;
  border-radius: 20px;
  margin: 5px;
  width: 90%;
  padding: 10px;
  text-align: center;
}

.card-plant > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-plant h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-plant p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-plant .card-plant-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-plant-infos .card-plant-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}