.d-block {
  margin: auto !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  // outline: black !important;
  background-size: 100%, 100%;
  border-radius: 50%;
  // border: 1px solid black !important;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 45px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 45px;
  color: black;
}
